* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 'Arial','sans-serif';
}

body {
    overflow-x: hidden;
    background-image: url('./Images/Login Image.jpg');
}

.container {
    position: absolute;
    top: calc(40%);
}

.para {
    font-size: 300%;
    color:rgb(15, 131, 233);
}

.card {
    position: absolute;
    top: calc(20%);
    width: 30%;
    margin-left: 57%;
}

.card-header {
    text-align:center;
}

.button {
    width: calc(25%);
    margin-left: calc(37.5%);
}

.link {
    margin-left: calc(17%);
}

.link:hover {
    color: red;
}

#forgot-pwd:hover {
    color: red;
}