* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Arial','sans-serif'
}

.card {
    position: absolute;
    margin-left:30%;
    top: calc(25%);
}

.button {
    margin-left: 75%;
}

.button:hover {
    background-color: green;
}
